<ul>
  <% @fuel_stations.each do |station| %>
    <li><%= station.name %></li>
    <li><%= station.address %></li>
    <li><%= station.fuel_types %></li>
    <li><%= station.distance %></li>
    <li><%= station.access_times %></li>
  <% end %>
</ul>
